
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding:6px 15px;
    background: rgb(205, 167, 98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: +1;
  }
  
  .logo{
    font-size: 2em;
    color: #555;
    cursor: default;
  }
  
  .navigation a{
    font-size: medium;
    color: #555;
    margin-right: 30px;
    font-weight: 500;
    text-decoration: none;
    transition: .3s;
  }

  .navigation a:hover{
    color:whitesmoke;
  }


  .btn-talk{
    color:#fff;
    text-decoration: none;
    padding:8px ;
    border-color: rgb(208, 167, 112);
    border-radius: 2opx;
    font-weight: 500;
    transition: .3s;
    color: #555;
    
  }

  .btn-talk:hover{
    background: burlywood;
  }

.container2{
  position: relative;
}

  


  .about{
    /* display:flex; */
    justify-content: space-evenly;
    gap: 10em;
  
  }
  h2{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h5{
    justify-content: space-between;
    text-align: center;
    font-size: 32px;
    color: #555;
  }

  .about .para{
    margin-left: 50px;
    text-align:center;
    margin: 2em 0 3em;
  }

h1{
  text-align:center ;
  color: #555;
  margin-bottom: 30px;
}

.education .wrap{
  width:33%;  
  float:left;
}
 .education{
  display:flex;
  margin-bottom:30px;
  margin-top: 30px;
 }
 

 .html {width: 50%; background-color: #a9e4ce;}
.css {width: 45%; background-color: #2196F3;}
.js {width: 40%; background-color: #f44336;}
.php {width: 35%; background-color: #808080;}

.subtitle{
  margin-bottom: 30px;
}
.container3{
  display: flex;
background-color: #808080;  
}

.lets{
  margin-right: 200px;
  margin-left: 500px;

}

.form{
  margin-left: 100px;
}
.icon{
  margin-left:-90px;
}
.icon i{
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin-left: 10px;
}

   .icon{
display: flex;
justify-content: center;  
  }

   footer p{
    text-align: center;
    font: 500;
    height: 100px;
   }

  